<div>
<h4>Create use-case subject</h4>
</div>
<form name="">
  <div class="form-group">
    <label for="eComponentID">Component</label>
    <select class="form-control" type="number" ng-model="vm.useCaseSubject.eComponentID">
      <option ng-repeat="component in vm.components" ng-value="component.id">{{component.aComponentName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="aUseCaseSubjectName">Name</label>
    <input class="form-control" type="text" ng-model="vm.useCaseSubject.aUseCaseSubjectName">
  </div>
  <div class="form-group">
    <label for="aUseCaseSubjectDesc">Description</label>
    <input class="form-control" type="text" ng-model="vm.useCaseSubject.aUseCaseSubjectDesc">
  </div>
</form>
<button class="btn btn-primary" ng-click="vm.createUseCaseSubject(vm.useCaseSubject)">Create use-case subject</button>
