<div>
  <div class="input-group">
    <span class="input-group-addon" ng-click="vm.openCreateProjectModal()">New project</span>
    <input
    class="form-control"
    type="text"
    ng-model="searchProject"
    id="searchProject"
    placeholder="Search project...">
  </div>
</div>
<hr>
<div>
  <div class="project-list-header">
    <div class="header-project-customer">
      <label>Customer</label>
    </div>
    <div class="header-project-title">
      <label>Project</label>
    </div>
    <div class="header-project-project-manager">
      <label>Project mananer</label>
    </div>
    <div class="header-project-main-info">
      <label>Plan</label>
    </div>
  </div>
  <div>
    <hr>
  </div>
  <div>
    <div class="list">
      <div class='item' ng-repeat="project in vm.projects | filter: searchProject | filter: project.isDeleted = false;">
        <div class="project">
          <div class="project-customer">
            <span>
              <a class="item-name">Организация</a><br>
              <small ng-bind="project.aCustomerName"></small>
            </span>
          </div>
          <div class="project-title">
            <span>
              <a class="item-name" ng-click="vm.openShowProjectInfoModal(project)" ng-bind="project.aProjectName"></a><br>
              <small ng-bind="project.aProjectKindNameEN"></small>
            </span>
          </div>
          <div class="project-manager">
            <span>
              <a class="item-name" ng-bind="project.aProjectManagerFirstNameLastName"></a>
            </span>
          </div>
          <div class="project-main-info">
            <div class="project-main-info-plan-key">
              <label>Start date: </label>
              <label>End date: </label>
            </div>
            <div class="project-main-info-plan-value">
              <span ng-bind="project.aPlanStartDate"></span>
              <span ng-bind="project.aPlanEndDate"></span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div>
  <hr>
</div>
