<div *ngIf="project">
  <h2>{{project.name}} details!</h2>
  <div>
    <label>id: </label>{{project.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="project.name" placeholder="name" />
  </div>
  <button (click)="goBack()">Back</button>
</div>


<div>
  <table class="project-details">
    <tr>
      <td>Project</td>
      <td>{{project.name}}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id augue ornare, porta massa a, sollicitudin eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec ultricies ornare ultricies. Integer fermentum risus a dui scelerisque accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus neque ut sem vehicula, ac pulvinar neque lacinia. Integer luctus pharetra erat sed iaculis. Nulla nibh nulla, ultrices sit amet felis a, bibendum accumsan arcu. Donec placerat imperdiet purus ut auctor. Aliquam erat volutpat. Duis eu velit interdum lorem elementum suscipit sit amet nec metus. Phasellus a sapien a augue imperdiet rhoncus non at libero. Aliquam aliquet urna imperdiet ex varius, eu fermentum mauris interdum.

Pellentesque vel posuere elit, id consectetur justo. Integer suscipit dolor maximus nisi dictum congue. Proin auctor mattis hendrerit. Suspendisse ac nisi ligula. Proin euismod dictum viverra. Quisque elementum arcu ultrices elit sollicitudin tincidunt. Curabitur sed tortor lobortis, tempor ligula eget, bibendum justo. Donec eget bibendum justo. Nulla eget volutpat massa. Curabitur facilisis, ipsum ut feugiat aliquam, augue magna sollicitudin erat, eu blandit erat libero id lorem. Pellentesque sollicitudin purus vitae velit molestie, volutpat posuere sem elementum. Nunc hendrerit sem ex, interdum accumsan dui posuere scelerisque. Nullam ac sagittis erat. Integer eget egestas turpis. Nullam cursus ullamcorper laoreet.

Ut vel risus ac eros condimentum vulputate. Pellentesque in cursus augue, vulputate consectetur tortor. In nec suscipit purus. Maecenas convallis sed metus quis tincidunt. Aliquam suscipit vulputate neque, quis auctor mi posuere nec. Mauris auctor purus vel lacus sagittis pellentesque. Morbi risus sapien, cursus sit amet pulvinar in, rutrum ut magna. Nulla ut augue porttitor, aliquet orci a, euismod mi. Fusce massa nisl, lacinia non sem eu, fringilla molestie ligula. Donec convallis tincidunt fringilla. Integer rutrum, mauris sed lobortis elementum, purus felis blandit tellus, lobortis dignissim odio nibh luctus libero. Aliquam consequat ut tellus sit amet bibendum. Donec dignissim urna eget semper fringilla.

Fusce a nisl vel tellus bibendum gravida. Phasellus id tellus sit amet purus laoreet semper. Nunc ut quam in nisi malesuada condimentum. Integer egestas at erat dapibus maximus. Vestibulum at enim est. Quisque congue mi fermentum est molestie, sit amet dictum nibh imperdiet. Morbi ipsum sapien, fermentum vitae nisi eget, euismod vulputate eros. Phasellus porttitor mi in justo euismod hendrerit. Donec tempus, libero at suscipit tristique, turpis arcu luctus ipsum, sit amet fringilla sapien mi posuere risus. Nam nibh turpis, tempor quis lacus non, tempor pharetra lorem. Proin tempus eros id bibendum fringilla. Aenean sed tempor turpis, ac eleifend tellus. Suspendisse tristique tincidunt dictum. Praesent id viverra augue, id viverra lorem. Vivamus at risus sit amet sapien cursus pretium. Praesent congue nulla nec dui lacinia vulputate.

Mauris pharetra id lacus pharetra luctus. Sed suscipit massa sit amet metus sodales, ut hendrerit purus congue. Aenean sit amet felis at eros lobortis ultricies in ut risus. Nullam interdum, purus ut pharetra vestibulum, sapien metus pulvinar tellus, quis euismod lacus ante varius massa. Pellentesque sit amet magna non purus suscipit condimentum. Vivamus nunc libero, ornare ut nibh ut, placerat lobortis massa. Suspendisse in facilisis dui, nec porttitor ex. In facilisis purus porta, interdum ligula ut, vehicula lacus. Suspendisse nec dapibus est, id molestie risus. Suspendisse pellentesque mi ut purus scelerisque, sed accumsan elit rutrum. Donec scelerisque justo sit amet metus pellentesque sagittis. In hac habitasse platea dictumst. Nulla eget ex dolor. Nunc blandit est ac eros posuere, sit amet ornare magna tempus. Vestibulum cursus velit suscipit nisi accumsan gravida.</td>
    </tr>
  </table>
</div>