<div
class="input-group">
  <!-- create issue button -->
  <span class="input-group-addon" ng-click="vm.openCreateIssueModal()">New issue</span>
  <!-- search issue field -->
  <input
  class="form-control"
  type="text"
  ng-model="searchIssue"
  placeholder="Search issue...">
</div>
<hr>
<div
class="issuesList">
  <div class="list" ng-repeat="issue in vm.issues">
    <div class="item" class="issue">
      <div id="issue-title">
        <span class="issue-title-text">
          <a class="item-name" ng-bind="issue.aIssueName" ng-click="vm.openShowIssueInfoModal(issue)"></a>
        </span>
      </div>
      <div id="issue-code">
        <span ng-bind="issue.id"></span>
      </div>
      <div id="issue-author">
        <span ng-bind="vm.getIssueAuthorFullName(issue.eIssueAuthorID)"></span>
      </div>
    </div>
  </div>
</div>