<div class="modal-demo">
  <div class="modal-header">
    <h3 class="modal-title">New person</h3>
  </div>
</div>
<div class="modal-body" name="createCustomerForm">
  <div class="form-group">
    <label for="aPersonIIN">IIN</label>
    <input
    class="form-control"
    type="text"
    id="aPersonIIN"
    ng-model="vm.person.aPersonIIN">
  </div>
  <div class="form-group">
    <label for="aPersonLastName">Last name</label>
    <input
    class="form-control"
    type="text"
    id="aPersonLastName"
    ng-model="vm.person.aPersonLastName">
  </div>
  <div class="form-group">
    <label for="aPersonFirstName">First name</label>
    <input
    class="form-control"
    type="text"
    id="aPersonFirstName"
    ng-model="vm.person.aPersonFirstName"
    required>
  </div>
  <div class="form-group">
    <label for="aPersonMiddleName">Middle name</label>
    <input
    class="form-control"
    type="text"
    id="aPersonMiddleName"
    ng-model="vm.person.aPersonMiddleName">
  </div>
  <div class="form-group">
    <label for="aPersonDob">Date of birth</label>
    <input
    class="form-control"
    type="date"
    id="aPersonDob"
    ng-model="vm.person.aPersonDob">
  </div>
  <div class="form-group">
    <label for="aPersonGenderID">Gender</label>
    <select
    class="form-control"
    ng-model="vm.person.dPersonGenderID">
      <option
      ng-value="gender.id"
      ng-bind="gender.aDictValueNameRU"
      ng-repeat="gender in vm.genders"></option>
    </select>
  </div>
</div>
<div class="modal-footer">
  <button
  class="btn btn-primary"
  type="button"
  name="button"
  ng-click="vm.createPerson(vm.person)"
  ng-disabled="createCustomerForm.$invalid">Add & Close</button>
  <button
  class="btn btn-default"
  type="button"
  name="button"
  ng-click="vm.cancel()">Cancel</button>
</div>