<div class="main">
  <div class="toolbar">
    <div class="btn-group">
      <button class="btn btn-default">Projects</button>
      <button class="btn btn-default" ui-sref="tracker">Tracker</button>
    </div>
  </div>
  <div class="main-toolbar">
    <h1>Toolbar</h1>
    <button class="btn btn-default" type="button" name="button" ng-click="logOut({sid: 11})">Log out</button>
  </div>
  <table class="table table-striped table-hover">
    <tr>
      <th>Use-case slice name</th>
      <th>Use-case slice desc</th>
    </tr>
    <tr>
      <td>Name...</td>
      <td>Desc...</td>
    </tr>
    <tr>
      <td>Name 1...</td>
      <td>Desc 1...</td>
    </tr>
  </table>
</div>
