<div class="main">
  <div class="toolbar">
    <div class="btn-group">
      <button class="btn btn-default" ui-sref="main.projects">Projects</button>
      <button class="btn btn-default" ui-sref="main.tracker">Tracker</button>
      <button class="btn btn-default" ui-sref="main.organizations">Organizations</button>
      <button class="btn btn-default" ui-sref="main.persons">Persons</button>
      <button class="btn btn-default" ui-sref="main.issues">Issues</button>
      <button class="btn btn-default" ui-sref="main.customers">Customers</button>
      <button class="btn btn-default" ui-sref="main.tables">Tables</button>
    </div>
    <div class="btn-group pull-right">
      <button class="btn btn-default pull-right" type="button" name="button" ng-click="logOut()">Log out</button>
    </div>
  </div>
</div>
<br>
<div ui-view></div>
</div>