<div class="">
  <div class="form-group">
    <input class="form-control" type="text" ng-model="searchProject" name="" id="" placeholder="Search project...">
  </div>
  <table class="table table-striped table-hover">
    <tr>
      <th>
        Project kind
      </th>
      <th>
        Customer
      </th>
      <th>
        Project
      </th>
      <th>
        Description
      </th>
    </tr>
    <tr ng-repeat="project in vm.projects | filter: searchProject">
      <td>
        {{project.aProjectKindID}}
      </td>
      <td>
        {{project.aCustomerID}}
      </td>
      <td>
        {{project.aProjectName}}
      </td>
      <td>
        {{project.aProjectDesc}}
      </td>
    </tr>
  </table>
</div>

<form name="">
  <div class="form-group">
    <label for="aCustomerID">Customer</label>
    <input class="form-control" type="text" name="aCustomerID" ng-model="vm.project.aCustomerID">
  </div>
  <div class="form-group">
    <h4>
      Project
    </h4>
    <div class="form-group">
      <label for="aProjectKindID">Kind</label>
      <input class="form-control" type="text" name="aProjectKindID" ng-model="vm.project.aProjectKindID">
    </div>
    <div class="form-group">
      <label for="aProjectName">Name</label>
      <input class="form-control" type="text" name="aProjectName" ng-model="vm.project.aProjectName">
    </div>
    <div class="form-group">
      <label for="aProjectDesc">Description</label>
      <input class="form-control" type="text" name="aProjectDesc" ng-model="vm.project.aProjectDesc">
    </div>
  </div>
</form>
<button class="btn btn-default" type="button" name="button" ng-click="vm.createProject(vm.project)">Create project</button>

<pre class="well">
  {{vm.project | json}}
</pre>
