<div class="modal-demo noselect">
  <div class="modal-header">
    <h3 class="modal-title">New project</h3>
  </div>
</div>
<div class="modal-body" name="createProjectForm">
  <div class="form-group">
    <label for="aProjectName">Name</label>
    <input
    class="form-control"
    type="text"
    id="aProjectName"
    ng-model="vm.project.aProjectName"
    required>
  </div>
  <div class="form-group">
    <label for="aProjectDesc">Description</label>
    <textarea
    class="form-control"
    id="aProjectDesc"
    ng-model="vm.project.aProjectDesc"></textarea>
  </div>
  <div class="form-group">
    <label for="aPersonMiddleName">Middle name</label>
    <input
    class="form-control"
    type="text"
    id="aPersonMiddleName"
    ng-model="vm.person.aPersonMiddleName">
  </div>
  <div class="form-group">
    <label for="aPersonDob">Date of birth</label>
    <input
    class="form-control"
    type="date"
    id="aPersonDob"
    ng-model="vm.person.aPersonDob">
  </div>
  <div class="form-group">
    <label for="dPersonGenderID">Gender</label>
    <select
    class="form-control"
    ng-model="vm.person.dPersonGenderID">
      <option
      ng-value="gender.id"
      ng-bind="gender.aDictValueNameRU"
      ng-repeat="gender in vm.genders"></option>
    </select>
  </div>
</div>
<div class="modal-footer">
  <button
  class="btn btn-primary"
  type="button"
  ng-click="vm.createProject(vm.project)"
  ng-disabled="createProjectForm.$invalid">Add & Close</button>
  <button
  class="btn btn-default"
  type="button"
  ng-click="vm.cancel()">Cancel</button>
</div>