<div class="input-group">
  <span class="input-group-addon" ng-click="vm.openCreateOrganizationModal()">New organization</span>
  <input
  class="form-control"
  type="text"
  name="name"
  ng-model="searchOrganization"
  placeholder="Search organization ...">
</div>
<hr>
<table class="table table-striped table-hover">
  <tr>
    <th>BIN</th>
    <th>Short name</th>
    <th>Official name</th>
    <th>State</th>
    <th>Manage</th>
  </tr>
  <tr ng-repeat="organization in vm.organizations | filter: searchOrganization | filter: organization.isDeleted = false">
    <td ng-bind="organization.aOrganizationBin"></td>
    <td ng-bind="organization.aOrganizationShortName"></td>
    <td ng-bind="organization.aOrganizationOfficialName"></td>
    <td ng-bind="organization.isDeleted"></td>
    <td>
      <button
      class="btn btn-default btn-xs"
      ng-click="vm.openUpdateOrganizationModal(organization)">
        <span
        class="glyphicon glyphicon-pencil"
        aria-hidden="true"></span>
      </button>
      <button
      class="btn btn-default btn-xs"
      id="deleteOrganizationBTN"
      ng-click="vm.deleteOrganization(organization.id)">
        <span
        class="glyphicon glyphicon-remove"
        aria-hidden="true"></span>
      </button>
      <button
      class="btn btn-default btn-xs"
      id="restoreOrganizationBTN"
      ng-click="vm.restoreOrganization(organization.id)">
        <span
        class="glyphicon glyphicon-remove"
        aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</table>

<!-- <form name="">
  <div class="form-group">
    <label for="aOrganizationBin">BIN</label>
    <input class="form-control" type="text" name="aOrganizationBin" ng-model="vm.organization.aOrganizationBin">
  </div>
  <div class="form-group">
    <h4>
      Project
    </h4>
    <div class="form-group">
      <label for="aOrganizationShortName">Short name</label>
      <input class="form-control" type="text" name="aOrganizationShortName" ng-model="vm.organization.aOrganizationShortName">
    </div>
    <div class="form-group">
      <label for="aOrganizationOfficialName">Official name</label>
      <input class="form-control" type="text" name="aOrganizationOfficialName" ng-model="vm.organization.aOrganizationOfficialName">
    </div>
  </div>
</form>
<button class="btn btn-default" type="button" name="button" ng-click="vm.createOrganization(vm.organization)">Create organization</button>

<pre class="well">
  {{vm.organization | json}}
</pre> -->
