.use-case-subject-list {
  position: relative;
  display: block;
  background-color: rgba(#7c7c7c, 0.53);
  width: 100% auto;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 1px 10px #9c9c9c;
  border: 1px solid #4f4f4f;
}
.use-case-subject-name {
  margin-left: 10px;
}

.use-case-subject {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  border: 2px #cfcfcf solid;
  box-shadow: 1px 1px 1px #b1b1b1;
  border-radius: 3px;
}

.use-case-list {
  background-color: #d4d4d4;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #616161;
}

.use-case-slice-list {
  background-color: #e7e6e9;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #616161;
}

.defect-report-list {
  background-color: #edecee;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #616161;
}

.use-case-slice-specification {
  font-family: 'Ubuntu Mono';
}
