<md-content>
<md-input-container>
  <label for="eUseCaseID">Use case</label>
  <md-select type="number" ng-model="vm.useCaseSlice.eUseCaseID">
    <md-option ng-repeat="useCase in vm.useCases" ng-value="useCase.id">{{useCase.aUseCaseName}}</md-option>
  </md-select>
</md-input-container>
<md-input-container>
  <label for="eComponentID">Component</label>
  <md-select type="number" ng-model="vm.useCaseSubject.eComponentID">
    <md-option ng-repeat="component in vm.components" ng-value="component.id">{{component.aComponentName}}</md-option>
  </md-select>
</md-input-container>
<md-input-container>
  <label for="aUseCaseSliceName">Name</label>
  <input type="text" ng-model="vm.useCaseSlice.aUseCaseSliceName">
</md-input-container>
<md-input-container>
  <label for="aUseCaseSliceDesc">Desc</label>
  <input type="text" ng-model="vm.useCaseSlice.aUseCaseSliceDesc">
</md-input-container>
<md-input-container>
  <label for="aUseCaseSliceSpecs">Specification</label>
  <textarea type="text" ng-model="vm.useCaseSlice.aUseCaseSliceSpecs"></textarea>
</md-input-container>
<md-button class="md-raised md-primary" ng-click="vm.createUseCaseSlice(vm.useCaseSlice)">Create use-case slice</md-button>
</md-content>
