<div class="">
  <div class="input-group">
    <span class="input-group-addon" ng-click="vm.openCreateCustomerModal()">New customer</span>
    <input class="form-control" type="text" ng-model="searchCustomer" name="" placeholder="Search customer...">
  </div>
  <hr>
  <table class="table table-striped table-hover">
    <tr>
      <th>Customer</th>
      <th>Description</th>
    </tr>
    <tr class="pointer" ng-repeat="customer in vm.customers | filter: searchCustomer | filter: customer.isDeleted === false;" ng-click="vm.openUpdateCustomerModal(customer)">
      <td ng-bind="customer.aCustomerName"></td>
      <td ng-bind="customer.aCustomerDesc"></td>
    </tr>
  </table>
</div>
