<div>
  <h1>Use case slices</h1>
  <div class="form-group">
    <input class="form-control" type="text" name="" id="" ng-model='searchUseCaseSlice' placeholder="Search use-case slice...">
  </div>
  <table class='striped highlight'>
    <tr>
      <th>
        Component
      </th>
      <th>
        Name
      </th>
      <th>
        State
      </th>
      <th>

      </th>
    </tr>
    <tr ng-repeat="UseCaseSlice in vm.useCaseSlices | filter: searchUseCaseSlice" href="#modal1">
      <td>
        {{UseCaseSlice.aComponentName}}
      </td>
      <td>
        {{UseCaseSlice.aUseCaseSliceName}}
      </td>
      <td>
        {{UseCaseSlice.aUseCaseSliceState}}
      </td>
    </tr>
  </table>
</div>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
</ul>

<a class="waves-effect waves-light btn" href="#modal1">Modal</a>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{vm.useCaseSlice.aUseCaseSliceName}}</h4>
      </div>
      <div class="modal-body">
        <label>Описание</label>
        <p>{{vm.useCaseSlice.aUseCaseSliceDesc}}</p>
        <label>Спецификация</label>
        <textarea class="form-control" onkeyup="vm.textAreaAdjust(this)" style="overflow:hidden">{{vm.useCaseSlice.aUseCaseSliceSpecs}}</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
