@font-face {
  font-family: 'Roboto Thin';
  src: url('fonts/roboto/Roboto-Thin.woff2');
}

body {
  font-family: 'Roboto Thin';
  font-size: 14px;
  font-weight: normal;
}
div.main-toolbar {
  display: 'inline';
}
