<form class="form" name="myForm" ng-submit="createPerson(Person)">
  <div class="input-group">
    <input class="form-control" type="text" ng-model="Person.iin" placeholder="ИИН"/>
    <input class="form-control" type="text" ng-model="Person.lastName" placeholder="Фамилия" required name="lastName"/>
    <div role="alert">
      <span class="error" ng-show="myForm.input.$error.required" name="lastName">
          Required!</span>
    </div>
    <input class="form-control" type="text" required minlength="3" ng-model="Person.firstName" placeholder="Имя"/>
    <input class="form-control" type="text" ng-model="Person.middleName" placeholder="Отчество"/>
    <input class="form-control" type="text" ng-model="Person.dob" placeholder="Дата рождения"/>
    <input class="form-control" type="text" ng-model="Person.gender" placeholder="Пол"/>
    <br>
    <button type="submit" class="btn btn-default">Create</button>
  </div>

</form>

<input type="text" ng-model="SearchPerson">
<br>
<pre class="well">
  {{Person | json:2}}
</pre>
<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>ИИН</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Дата рождения</th>
    <th>Пол</th>
  </tr>
  <tr ng-repeat="person in vm.persons | filter: SearchPerson">
    <td>{{person.id}}</td>
    <td>{{person.iin}}</td>
    <td>{{person.lastName}}</td>
    <td>{{person.firstName}}</td>
    <td>{{person.middleName}}</td>
    <td>{{person.dob}}</td>
    <td>{{person.gender}}</td>
  </tr>
</table>
