@font-face {
  font-family: 'Roboto Thin';
  src: url('fonts/roboto/Roboto-Thin.woff2');
}
@font-face {
  font-family: 'Ubuntu Light';
  src: url('fonts/ubuntu/Ubuntu-Light.ttf');
}

body {
  margin: 15px;
  font-family: 'Ubuntu Light';
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
}
