--============================================================================--
-- Requirements Development Process Domain (specification)
--============================================================================--
Key Objects
Work Products:
- Requirements (Customer, Product, and Product Component Requirements)
- Vision
--------------------------------------------------------------------------------
-- Requirements Development (RD)
--------------------------------------------------------------------------------
The purpose if Requirements Development is to elicit, analyze, and establish
customer, product, and product component requirements.
Цель разработки требований - выявление, анализ и разработка требований
заказчика, требований к продукту и требований к компонентам продукта.
--------------------------------------------------------------------------------
SG1 Develop Customer Requirements
Разработка требований заказчика
SP1.1 Elicit Needs
ST1.1.1 Identify Stakeholders
ST1.1.2 Establish Stakeholders Profiles
ST1.1.3 Establish Stakeholders Needs
a) establish inconveniences (business problems)
Выявление бизнес проблем
b) establish expectations (business objectives)
Выявление бизнес целей
c) establish requirements (business requirements)
Выявление бизнес требований
d) establish constraints (business rules)
Выявление бизнес правил
e) establish risks (business risks)
Выявление бизнес рисков
f) establish solution scope (business objectives model)
ST1.1.4 Develop Vision
ST1.1.5 Validate Vision
SP1.2 Transform Stakeholder Needs into Customer Requirements
ST1.2.1 Identify Customers
ST1.2.2 Establish Customers Profiles
ST1.2.3 Establish Customers Needs
a) establish product scope (precision level 0)
b) establish context diagram
c) establish ecosystem map
d) establish hardware requirements
e) establish system software requirements
f) establish communication environment requirements
g) establish other systems integration requirements
ST1.2.4 Update Vision
ST1.2.5 Validate Vision
SG2 Develop Product Requirements
Разработка требований к продукту
SP2.1 Establish Product and Product Components Requirements
a) establish system architecture
SP2.2 Allocate Product Component Requirements
a) establish component requirements
SP2.3 Identify Interface Requirements
a) establish interface requirements
SG3 Analyze and Validate Requirements
Анализ и валидация требований
SP3.1 Establish Operational Concepts and Scenarios
a) establish use cases (precision level 1)
SP3.2 Establish a Definition of Required Functionality and Quality Attributes
a) establish use cases (precision level 2, 3 and 4)
SP3.3 Analyze Requirements
a) establish missing requirements
b) establish requirements conflicts
SP3.4 Analyze Requirements to Achieve Balance
SP3.5 Validate Requirements
