<div class="form_create_ontology_element">
  <form>
    <div>
      <label for="ontology_element_kind">Вид элемента</label>
      <input type="text" name="Вид элемента" id="ontology_element_kind">
    </div>
    <div>
      <input type="text" name="Наименование элемента" id="ontology_element_name" placeholder="Наименование элемента">
    </div>
    <div>
      <label for="ontology_element_desc">Описание элемента</label>
      <input type="text" name="Описание элемента" id="ontology_element_desc">
    </div>
  </form>
    <button type="button" name="button">Create</button>
</div>
